{% extends 'tango/base.html' %}

{% block title %}Add Page!{% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<h1>Add a new Page!</h1>
		
		<div class="container">
			{% if category_name_url %}
				<form class="span6" id="page_form" method="post" action="/tango/category/{{category_name_url}}/add_page/">
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in form.visible_fields %}
						{{ field.errors }}
						{{ field.help_text }}
						{{ field }}
					{% endfor %}
					<button class="btn btn-success" type="submit" name="submit">Create Page!</button>
				</form>
			{% else %}
				<strong>The specified category doesn't exist!</strong>
			{% endif %}
		</div>
	</div>
{% endblock %}
