<!DOCTYPE html>
<html>
	<head>
		<title>Tango - {% block title %}RTD{% endblock %}</title>
	</head>
	
	<body>
		<div>
			{% block body_block %}This is body_block's default content.{% endblock %}
		</div>
		
		<hr />
		
		<div>
			<ul>
				<li><a href="/tango/">Tango</a></li>
				{% if user.is_authenticated %}
					<li><a href="/tango/restricted/">Restricted Content</a></li>
					<li><a href="/tango/add_category/">Add a New Category</a></li>
					<li><a href="/tango/logout/">Logout</a></li>
				{% else %}
					<li><a href="/tango/register/">Register Here</a></li>
					<li><a href="/tango/login/">Login</a></li>
				{% endif %}
				<li><a href="/tango/about/">About</a></li>
			</ul>
		</div>
	</body>
</html>
