<!DOCTYPE html>

{% load static %} <!-- Informs template system that we will be using static media -->

<html>
	<head>
		<title>Tango</title>
	</head>
	
	<body>
		{% if user.is_authenticated %}
			<h1>Tango says...WELCOME {{ user.username }}?!</h1>
		{% else %}
			<h1>Tango says...HELLO WORLD?!</h1>
		{% endif %}
		{% if categories %}
			<ul>
				{% for cat in categories %}
				<li><a href = "/tango/category/{{ cat.url }}">{{ cat.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories at the moment. Why don't YOU make some.</strong>
		{% endif %}
		{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href = "{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no pages at the moment. Why don't YOU make some.</strong>
		{% endif %}
		
		{% if user.is_authenticated %}
			<a href = "/tango/add_category/">Add a new Category!</a><br />
			<a href = "/tango/restricted/">Restricted Page</a><br />
			<a href = "/tango/logout/">Logout</a><br />
		{% else %}
			<a href = "/tango/register/">Register here!</a><br />
			<a href = "/tango/login/">Login!</a><br />
		{% endif %}
		<a href = "/tango/about/">About</a><br />
	</body>
</html>
