{% extends 'tango/base.html' %}

{% block title %}Register{% endblock %}

{% block body_block %}

	<h1>Register with Tango</h1>
	{% if registered %}
		Tango says: <strong>Thank you for registering!</strong>
		<a href="/tango/">Return to da homes</a>
	{% else %}
		Tango says: <strong>Register here!</strong><br />
		<form id="user_form" method="post" action="/tango/register/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			
			<input type="submit" name="submit" value="Register!" />
		</form>
	{% endif %}

{% endblock %}
